body{
      background-image: url('../images/background.jpg');
    }
.home{
           text-align: justify ;
           color: white;
           background-color: #C8C8C8;
           margin-top: 200px;
           margin-left: 100px;
           margin-right: 100px;
           margin-bottom: 300px;
       }
          }
.navbar{
             display: block;
             margin: 0px;0px;0px;0px;
             }
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #818181;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
