body{
      background-image: url('../images/background.jpg');
    }
.content{
                  color: white;
                  text-align: center;
                  background-color: black;
                  margin-top: 10px;
                  margin-left: 122px;
                  margin-right: 120px;
                  margin-bottom: 20px;
                  opacity:0.4;
                  font-size: 55px;
                    }

.content:hover{
  opacity: 0.8;
  margin-left: 112px;
  margin-right: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  transition: 200ms;
}
.navbar a:active
{
background-color: blue
}
.navbar{
             display: block;
             margin: 0px;0px;0px;0px;

             }
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #818181;
    color: black;
}
/* Add a color to the active/current link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
.projects{
  display: flex;
  text-align: justify;

}
.mediahandle{
  font-size: 5rem;
}
